<div>
    <h3>{{welcome}}</h3>
    <a href="{{{linkview}}}">{{linkviewtext}}</a>
    {{#studentslist}}
         <ul class="list-group">
            <li class="list-group-item list-group-item-warning">{{{pic}}}{{name}}{{login}}</li>
        </ul>
    {{/studentslist}}
</div>